<h1>Contact List</h1>
<p><a href="/contacts/new">Create New Contact</a></p>
<% @contacts.each_slice(3) do |three_contacts| %>
<div class="row">
  <% three_contacts.each do |contact| %>
    <div class="col-md-4">
      <div class="well">
        <h2><a href="/contacts/<%=contact.id %>">Contact <%= contact.id %></a></h2>
        <p> Full Name: <%= contact.full_name %></p>
        <p> Email: <%= contact.email %> </p>
        <p> Phone Number: <%= contact.racist %> </p>
        <p> Bio: <%= contact.bio %></p>
      </div>
    </div>
  <% end %>
</div>
<% end %>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Select
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Choose a Contact</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>